 <% content_for :javascript_includes do %>
  <%= javascript_include_tag "categories" %>
<% end %>

 <%= stylesheet_link_tag "categories" %>

<div class="container">
<div class="col-xs-12">      
    <div class="carousel slide" id="myCarousel">
        <div class="carousel-inner">
        <%@categories_splitted %>
            <div class="item active">
                    <ul class="thumbnails">
                    <% @categories_in_first_page.each do |category| %>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                     <%= link_to image_tag(category.image), category_recepies_path(category_id: category.id) %>
                                </div>
                                <div class="caption">
                                    <h4><%= category.name %></h4>
                                </div>
                            </div>
                        </li>
                       <% end %>
                    </ul>
              </div><!-- /Slide1 --> 
            
            <% @all_remaining_categories_list.each do |category_in_current_page| %>
            <div class="item">
                    <ul class="thumbnails">
                    <% category_in_current_page.each do |category| %>
                        <li class="col-sm-3">
                            <div class="fff">
                                <div class="thumbnail">
                                     <%= link_to image_tag(category.image) ,category_recepies_path(category_id: category.id)%>
                                </div>
                                <div class="caption">
                                    <h4><%= category.name %></h4>
                                    <p>Nullam Condimentum Nibh Etiam Sem</p>
                                    <a class="btn btn-mini" href="#">» Read More</a>
                                </div>
                            </div>
                        </li>
                        <% end %>
                    </ul>
              </div><!-- /Slide2 --> 
              <% end %>
        </div>
        
       
       <nav>
            <ul class="control-box pager">
                <li><a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                <li><a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
            </ul>
        </nav>
       <!-- /.control-box -->   
                              
    </div><!-- /#myCarousel -->
        
</div><!-- /.col-xs-12 -->          

</div><!-- /.container -->
